In [1]:
import numpy as np
import pandas as pd
import polars as pl
import bottleneck as bn

# Polars

## 1 Считайте датасет из файла train.csv (это данные о выживаемости на Титанике) с помощью polars - 1 балл

In [5]:
%%time
df = pl.read_csv('train.csv')

CPU times: user 1.73 ms, sys: 2.12 ms, total: 3.85 ms
Wall time: 1.24 ms

## 2 Выведите основную информацию о датасете: информацию о типах данных, число пропусков, средние значения и т.д. - 1 балл

In [6]:
df.describe()

shape: (9, 13)
┌────────────┬─────────────┬──────────┬──────────┬───┬───────────┬───────────┬───────┬──────────┐
│ statistic  ┆ PassengerId ┆ Survived ┆ Pclass   ┆ … ┆ Ticket    ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---        ┆ ---         ┆ ---      ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---   ┆ ---      │
│ str        ┆ f64         ┆ f64      ┆ f64      ┆   ┆ str       ┆ f64       ┆ str   ┆ str      │
╞════════════╪═════════════╪══════════╪══════════╪═══╪═══════════╪═══════════╪═══════╪══════════╡
│ count      ┆ 891.0       ┆ 891.0    ┆ 891.0    ┆ … ┆ 891       ┆ 891.0     ┆ 204   ┆ 889      │
│ null_count ┆ 0.0         ┆ 0.0      ┆ 0.0      ┆ … ┆ 0         ┆ 0.0       ┆ 687   ┆ 2        │
│ mean       ┆ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ … ┆ null      ┆ 32.204208 ┆ null  ┆ null     │
│ std        ┆ 257.353842  ┆ 0.486592 ┆ 0.836071 ┆ … ┆ null      ┆ 49.693429 ┆ null  ┆ null     │
│ min        ┆ 1.0         ┆ 0.0      ┆ 1.0      ┆ … ┆ 110152    ┆ 0.0       ┆ A10   ┆ C        │
│ 25%        ┆ 224.0       ┆ 0.0      ┆ 2.0      ┆ … ┆ null      ┆ 7.925     ┆ null  ┆ null     │
│ 50%        ┆ 446.0       ┆ 0.0      ┆ 3.0      ┆ … ┆ null      ┆ 14.4542   ┆ null  ┆ null     │
│ 75%        ┆ 669.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ null      ┆ 31.0      ┆ null  ┆ null     │
│ max        ┆ 891.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ WE/P 5735 ┆ 512.3292  ┆ T     ┆ S        │
└────────────┴─────────────┴──────────┴──────────┴───┴───────────┴───────────┴───────┴──────────┘

In [8]:
df.dtypes

[Int64,
 Int64,
 Int64,
 String,
 String,
 Float64,
 Int64,
 Int64,
 String,
 Float64,
 String,
 String]

In [9]:
df.null_count()

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32      ┆ u32    ┆ u32  ┆   ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0        ┆ 0      ┆ 0    ┆ … ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└─────────────┴──────────┴────────┴──────┴───┴────────┴──────┴───────┴──────────┘

In [10]:
df.mean()

shape: (1, 12)
┌─────────────┬──────────┬──────────┬──────┬───┬────────┬───────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass   ┆ Name ┆ … ┆ Ticket ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---      ┆ ---  ┆   ┆ ---    ┆ ---       ┆ ---   ┆ ---      │
│ f64         ┆ f64      ┆ f64      ┆ str  ┆   ┆ str    ┆ f64       ┆ str   ┆ str      │
╞═════════════╪══════════╪══════════╪══════╪═══╪════════╪═══════════╪═══════╪══════════╡
│ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ null ┆ … ┆ null   ┆ 32.204208 ┆ null  ┆ null     │
└─────────────┴──────────┴──────────┴──────┴───┴────────┴───────────┴───────┴──────────┘


## 3 Посчитайте количество пассажиров каждого класса (Pclass) - 1 балл

In [ ]:
df.get_column('Pclass').value_counts()

## 4 Выведите количество выживших мужчин и женщин на корабле - 1 балл

In [ ]:
df.group_by('Sex').agg(pl.sum('Survived'))

## 5 Выведите часть таблицы с пассажирами, возраст которых больше 44 лет - 1 балл

In [ ]:
df.filter(pl.col('Age') > 44)

# Ускорение работы с pandas

## 1 Считайте датасет из файла train.csv (это данные о выживаемости на Титанике) с помощью pandas

In [ ]:
%%time
df = pd.read_csv('train.csv')

## 2 Посчитайте средний возраст пассажиров и его стандартное отклонение с помощью bottleneck - 1 бал
hint: используйте методы: bn.nanmean(), bn.nanstd()

In [ ]:
bn.nanmean(df['Age'])

In [ ]:
bn.nanstd(df['Age'])

In [ ]:
%%timeit # Проверка того, что bottleneck действительно ускоряет вычисление среднего
bn.nanmean(df['Age'])

In [ ]:
%%timeit
df['Age'].mean()

## 3 Для каждого пассажира умножьте значение столбца Fare на 1.3 и сохраните результаты как новый столбец Fare_new - 1 балл

In [ ]:
import swifter

In [ ]:
%%time
df['Fare_new'] = df['Fare'].apply(lambda x: x * 1.3)

In [ ]:
%%time
df['Fare_new'] = df['Fare'].swifter.apply(lambda x: x * 1.3)

In [ ]:
%%time
df['Fare_new'] = [row.Fare * 1.3 for row in df.itertuples()]

In [ ]:
%%time
df['Fare_new'] = [row.Fare * 1.3 for _,row in df.iterrows()]

Swifter сделал все быстрее всех. Интересно, что у itertuples результат довольно слабый по сравнению с тем, что показано в лекции.

In [ ]:
df.head()

# Оптимизация типов pandas

## 1 Считайте датасет из файла Housing.csv (это данные о ценах домов) с помощью pandas

In [ ]:
df = pd.read_csv('Housing.csv')

## 2. Для каждого столбца определите оптимальный с точки зрения потребления памяти тип данных - напишите свои выводы в комментариях - 2 балла

In [ ]:
df.head(20)

In [ ]:
df.describe()

In [ ]:
df.info()

**Оптимальные типы данных с точки зрения использования памяти:**

- *price* целочисленный от 1.750000e+06 до 1.330000e+07, влезает в тип uint32

- *area* целочисленный от 1650 до 16200, влезает в тип uint16

- *bedrooms* целочисленный от 1 до 6, влезает в int8

- *bathrooms* целочисленный от 1 до 4, влезает в int8

- *stories* целочисленный от 1 до 4, влезает в int8

- *parking* целочисленный от 0 до 3, влезает в int8

- *mainroad, guestroom, basement, hotwaterheating, airconditioning, prefarea* строковые, принимают два значения, можно перейти к категориальной записи

- *furnishingstatus* строковый, принимает три значения, можно перейти к категориальной записи

## 3. Поменяйте типы данных столбцов датафрейма на выбранные вами в прошлом пункте и сравните потребление памяти до и после оптимизации - 1 балл

In [ ]:
df['price'] = df['price'].astype(np.uint32)
df['area'] = df['area'].astype(np.uint16)
df['bedrooms'] = df['bedrooms'].astype(np.int8)
df['bathrooms'] = df['bathrooms'].astype(np.int8)
df['stories'] = df['stories'].astype(np.int8)
df['parking'] = df['parking'].astype(np.int8)
df['mainroad'] = df['mainroad'].astype("category")
df['guestroom'] = df['guestroom'].astype("category")
df['basement'] = df['basement'].astype("category")
df['hotwaterheating'] = df['hotwaterheating'].astype("category")
df['airconditioning'] = df['airconditioning'].astype("category")
df['prefarea'] = df['prefarea'].astype("category")
df['furnishingstatus'] = df['furnishingstatus'].astype("category")

In [ ]:
df.info()

**Вывод:** оптимизация типов данных позволила уменьшить размер данных с 55 до 10 KB